@using assignment2.Models
@model Menu


@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Menu: @Model.Name</h2>

<div>
    @foreach (Item item in Model.Items)
    {
        <div class="thumbnail">
            <img src="@item.URL" alt="@item.Title" />
            <p>@Html.ActionLink(item.Title, "Details", new { id = item.ItemID })</p>
            <p>ShortDescription: @item.ShortDescription</p>
            <p>Price : @item.Price</p>
        </div>
    }
    @Html.ActionLink("Back to List", "Index")
</div>