@using assignment2.Models
@model Item

@{
    ViewBag.Title = "Details";
}

<h2>Item: @Model.Title</h2>
<br />
<ul>
    <li>Menu: @Model.Menu.Name</li>
    <li>Detailed Description: @Model.DetailedDescription</li>
    <li>Price: @Model.Price</li>
    <li>
        Sample:
        <img src="@Model.URL" alt="@Model.Title" height="100" width="150"/>
    </li>
    <li>
        @Html.ActionLink("Back to List", "Index")
    </li>
</ul>